<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
	<Fragment>
	  <ComponentGroup Id="SETUP_UI" />
		<WixVariable Id="WixUILicenseRtf" Value="../_Resources/Media/EULA.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="../_Resources/Media/bg_banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="../_Resources/Media/bg_dialog.bmp" />

		<Icon Id="ArtakerC_Icon.ico" SourceFile="$(IconName)" />

		<UIRef Id="WixUI_ErrorProgressText" />
		<UI>
			<ui:WixUI Id="WixUI_Minimal" />
			<TextStyle Id="WixUI_Font_Bigger_White" Size="12" Red="255" Green="255" Blue="255" FaceName="Tahoma" />
			<TextStyle Id="ArtakerDialogStyleTitle" Size="10" Red="92" Green="93" Blue="94" FaceName="Verdana" />
		</UI>
	</Fragment>
</Wix>